@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #45475a transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #45475a;
  border-radius: 3px;
}
